.layanan {
  padding: 5% 5% 1%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-setor {
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 18px;
  transition: background-color 0.3s;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 60px;
}

.layanan h1 {
  display: inline-block;
  text-align: center;
  font-size: 57px;
  font-weight: bold;
  margin-top: 80px;
}

.layanan .btn-setor {
  float: right;
}

.hargasampah {
  padding: 1% 5% 8%;
  font-size: 32px;
  font-weight: bold;
}

.hargasampah p {
  padding: 5px;
}

.overflow-x-auto {
  text-align: center;
}

.overflow-x-auto p {
  text-align: left;
  padding: 0% 17% 0%;
  font-size: 32px;
  font-weight: bold;
  color: #12a7b0;
}

#plastik {
  padding: 0% 5% 1%;
  position: relative;
}

.btn-kembali {
  display: flex;
  justify-content: end;
  padding: 2%;
  margin-right: 15%;
}

#kertas {
  padding: 0% 5% 1%;
  position: relative;
}

#besi {
  padding: 0% 5% 1%;
  position: relative;
}

#botol {
  padding: 0% 5% 1%;
  position: relative;
}

#sampahlain {
  padding: 0% 5% 1%;
  position: relative;
}

.sosmed {
  display: flex;
  align-items: center;
  padding: 1% 10% 0%;
  height: 60px;
  width: 10px;
  left: 10%;
  margin-left: 650px;
  transform: translate(0%, -130%);
}

.sosmed img {
  margin: 40px;
}
