body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background-color: #12a7b0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.signup,
.login {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 1px 3px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 2px solid white;
  text-align: center;
  justify-content: center;
}

.signup:hover,
.login:hover {
  background-color: #12a7b0;
  color: white;
}

#home {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #12a7b0, rgba(76, 175, 80, 0));
}

.home {
  position: absolute;
  left: 10%;
  right: 10%;
  transform: translate(0%, 10%);
  margin-top: 100px;
}

.home p {
  line-height: 10px;
  display: flex;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin: 40px 0px 25px;
}

.home p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: mixed;
  color: white;
  font-size: 24px;
}

.home p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: mixed;
  color: white;
  font-size: 24px;
}

.home p:nth-child(3) {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 45px;
  font-weight: bold;
}

.home p:nth-child(4) {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 45px;
  font-weight: bold;
}

.home p:nth-child(5) {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 45px;
}

.home p:nth-child(6) {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 20px;
}

.home p:nth-child(7) {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 20px;
}

.next-button {
  background-color: #12a7b0;
  font-family: "poppins", sans-serif;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #12a7b0;
}

.next-button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.3s;
}

.picture {
  width: 516px;
  height: 520px;
  position: absolute;
  left: 50%;
  top: 20%;
}

.baris2 {
  padding: 2% 10% 10%;
}

.baris2-desc {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 0px;
  text-align: center;
  margin-top: 30px;
}

.baris2 .row {
  margin: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10%;
  right: 10%;
}

.gambar2,
.gambar3 {
  width: 490px;
}

.baris2 .row .column {
  padding: 5px;
}
.baris2 .row .column p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.baris2 .row .column p:nth-child(2) {
  font-size: 30px;
}

.baris2 .row .column p:nth-child(3) {
  font-size: 16px;
  color: #514e4e;
}

.arrow {
  position: relative;
  padding-right: 40px;
  font-size: 16px;
  border: 2px solid #afafaf;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.arrow:hover {
  background-color: #afafaf;
  color: whitesmoke;
}

.arrow img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

#baris2 {
  width: 100%;
  height: 130vh;
  position: relative;
}

#baris3 {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, #12a7b0, rgba(76, 175, 80, 0));
}

.baris3 {
  padding: 2% 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  right: 10%;
}

.partnership {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.partnership p {
  width: 650px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnership p img {
  width: 200px;
  height: 200px;
  padding: 15px;
}

#baris4 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #ffffff;
}

.baris4 {
  padding: 2% 10% 10%;
  position: absolute;
  left: 10%;
  right: 10%;
  justify-content: center;
  align-items: center;
}

.baris4 .row {
  margin: 0px;
  position: absolute;
  left: 10%;
  right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  transform: translate(-10%, 0%);
}

.penanganan {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.baris4 .row .column {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 8px;
  width: 500px;
}

.baris4 .row .column img {
  position: absolute;
  padding: 20px;
  margin-top: 10px;
}

.baris4 .row .column p {
  margin-left: 100px;
  font-family: "Poppins", sans-serif;
}

.baris4 .row .column p:nth-child(2) {
  color: #12a7b0;
  font-size: 22px;
}
