

.tukar p:nth-child(1) {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 90px;
}

.icon-text-container {
  display: flex;
  justify-content: center;
}

.icon {
  text-align: center;
  color: black;
  margin-right: 180px;
  margin-left: 180px;
}

.icon span {
  display: block;
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin-top: 5px;
}
.image-with-title {
  display: flex;
  align-items: center;
}

.image-with-title img {
  display: flex;
  width: 100px;
}

.reward {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.rewards {
  height: 70vh;
  background: linear-gradient(to bottom, #12a7b0, rgba(18, 167, 176, 0.3));
  padding: 8% 10% 10%;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.item img {
  max-width: 60%;
  max-height: 60%;
  margin-right: 5px;
  margin-left: 3px;
}

.item p {
  margin: 8px;
}

.picture {
  width: 450px;
  height: 520px;
  margin-left: 100px;
  margin-top: 10px;
}
