.container1 {
  width: 950px;
  height: 500px;
  margin: auto;
  margin-top: 150px;
  padding: 0 14px;
  box-sizing: border-box;
  border: 1px solid grey;
}
.container2 {
  width: 950px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  padding: 0 14px;
  box-sizing: border-box;
  border: 1px solid grey;
}
.icon-text-container {
  display: flex;
  justify-content: center;
}
.icon {
  text-align: center;
  color: black;
  margin-right: 50px;
  margin-left: 20px;
}
.round-image {
  width: 130px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #12a7b0;
  margin-left: 25%;
}
.round-image img {
  width: 80%;
  height: auto;
}
.icon span {
  display: block;
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 22px;
}
h1 {
  text-align: center;
  color: #12a7b0;
}

.nomor {
  background-color: #12a7b0;
  color: white;
  padding: 2px 20px;
  border-radius: 15px;
}
