.container1 {
    width: 950px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 0 14px;
    box-sizing: border-box;
    border: 1px solid grey;
}
.container2 {
  width: 950px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  padding: 0 14px;
  box-sizing: border-box;
  border: 1px solid grey;
}
.icon-text-container {
  display: flex;
  justify-content: center;
}
.icon {
  text-align: center;
  color: black;
  margin-right: 50px;
  margin-left: 20px;
}
.round-image {
  width: 130px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color:  #12A7B0;
}
.round-image img {
  padding: 25px;
  width: 80px;
  height: 80px;
}
.icon span {
  display: block;
  color: black;
  font-size: 36px;
  margin-top: 10px;
  font-size: 22px;
}
h1 {
    text-align: center;
    font-size: 25px;
    color: #12A7B0;
}
.no {
  background-color: #12A7B0;
}