h1,p {
    text-align: center;
}
.icon-text-container {
    display: flex;
    justify-content: center;
  }
  .icon {
    text-align: center;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
  }
  .round-image {
    width: 130px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color:  #12A7B0;
  }
  .round-image img {
    width: 80%;
    height: auto;
  }
  .icon span {
    display: block;
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
  }
.tentangk {
    width: 855px;
    height: 532px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tentangk3 {
    width: 307px;
    height: 406px;
    float: left;
    margin: 5px;
}
.tentangk4 {
    width: 307px;
    height: 406px;
}
.tentangk5 {
    width: 307px;
    height: 406px;
}
.tentangk6 {
    width: 307px;
    height: 406px;
}