h1,p {
    text-align: center;
}
h1 {
  font-weight: bold;
}
.icon-text-container {
    display: flex;
    justify-content: center;
  }
  .icon {
    text-align: center;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
  }
  .round-image {
    width: 130px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    background-color:  #12A7B0;
  }
  .round-image img {
    padding: 25px;
    width: 80px;
    height: 80px;
  }
  .icon span {
    display: block;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 70px;
  }

.tentangk {
    width: 855px;
    height: 532px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tentangk3 {
    width: 307px;
    height: 406px;
    float: left;
    margin: 5px;
}
.tentangk4 {
    width: 307px;
    height: 406px;
}
.tentangk5 {
    width: 307px;
    height: 406px;
}
.tentangk6 {
    width: 307px;
    height: 406px;
}