.container {
  text-align: center;
  padding: 0% 5% 0%;
  margin: 1%;
}

.center-button {
  padding: 10px 2px;
  font-size: 16px;
  cursor: pointer;
  background-color: #12a7b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: left;
  margin: 2%;
}

.center-button:hover {
  background-color: #d78706;
}

.center-button img {
  width: 10%;
  height: auto;
}

.paragraph {
  text-align: left;
  color: #12a7b0;
  font-size: 25px;
  font-weight: bold;
}

.container p {
  text-align: justify;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
}

img {
  max-width: 50%;
  margin-right: 60px;
}

.small-image {
  max-width: 500px;
  max-height: 150px;
  margin-bottom: 5px;
  border-radius: 15px;
}

table {
  width: 60%; /* Atur lebar tabel sesuai kebutuhan */
  max-width: 400px; /* Atur lebar maksimum tabel jika diperlukan */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

th,
td {
  border: 1px solid #14a9e4;
  padding: 8px;
}

th {
  background-color: #12a7b0;
}

.icon {
  text-align: center;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
}
.round-image {
  width: 130px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #12a7b0;
}
.round-image img {
  width: 80%;
  height: auto;
}
.icon span {
  display: block;
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}

.isi {
  margin-top: 10%;
}

.isi h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.container2 .content2 {
  display: flex;
  padding: 3% 5% 5%;
  justify-content: center;
  background: linear-gradient(to bottom, #12a7b0, rgba(76, 175, 80, 0));
}

.container2 .content2 h1 {
  background-color: #12a7b0;
}

.container2 p {
  text-align: justify;
  border: none;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 img {
  width: 300px;
  height: auto;
}

.sampah1 {
  margin-left: 55%;
  font-size: 20px;
}

.sampah2 {
  margin-left: 20%;
  font-size: 20px;
}

.kembali {
  font-style: none;
  text-decoration: none;
  color: white;
}

.btn-kembali {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #12a7b0;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 20px;
  border: 2px solid #12a7b0;
}

.sosmed {
  display: flex;
  align-items: center;
  padding: 1% 10% 0%;
  height: 60px;
  width: 10px;
  left: 10%;
  margin-left: 650px;
  transform: translate(0%, -130%);
}

.sosmed img {
  margin: 40px;
}

.anor-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 20px;
}

.anor-desc img {
  width: 50%;
  height: auto;
  border-radius: 15px;
}

.anor {
  justify-content: center;
  text-align: center;
  padding: 2% 5% 5%;
}
.anor p {
  text-align: left;
}

.anor h1 {
  font-size: 32px;
  font-weight: bold;
}

.p1 {
  font-size: 32px;
  font-weight: bold;
  color: #12a7b0;
}
